.send-btn {
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}
.chat-input {
  padding: 12px 15px;
  border-width: 1px;
  border: 3px solid #ccc;
  border-radius: 10px;
  font-size: 15px;

  flex-grow: 1;
}
.chat-input:focus {
  border-color: rgb(114, 197, 137);
  outline: none;
}
.chat-input-container {
  display: flex;
  margin-bottom: 60px;
}
.loading-spinner {
  height: 40px;
  margin: -15px;
}
.loading-spinner {
  height: 40px;
  margin: -15px;
}
.clear-btn {
  background-color: rgb(206, 206, 206);
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}